@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
h1 {
    color: #fff;
    font-family: 'Montserrat', bold;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 2px 0 #525252;
}
h3 {
    font-family: 'Lato', sans-serif;
    color: #1a2535;
}
a h3:hover {
    color: #525252;
}
.newsitem {
    list-style: none;
    margin-bottom: 9%;
}
a {
    text-decoration: none
}
.titlerow {
    margin-top: -20px;
    margin-left: 3%;
    height: 10%;
    margin-bottom: 10px;
}
.contentrow {
    background-color: rgba(255, 255, 255, .1);
    height: 80%;
    width: 94%;
    margin-top: 1.5%;
    margin-left: 3%;
    padding-top: 1px;
    padding-left: 1px;
}
.newsdesc {
    margin-top: -15px;
    margin-left: -10px;
}
.newsdescription {
    margin-top: -11px;
}
.row {
    width: 100%;
    height: 50%;
    float: left;
    width: 50%;
}
.newspic {
    height: 120px;
    float: left;
    margin-top: -10px;
    margin-right: 10px;
}
.d1 {
    background-color: #FDC357;
    overflow: hidden;
}
.d2 {
    background-color: #FC9658;
    overflow: hidden
}
.d3 {
    background-color: #41A6DE;
    overflow: hidden
}
.d4 {
    background-color: #21BA79;
    overflow: hidden
}
.sbbtable td {
    padding-top: 7px;
    text-align: center;
}
.sbbtable {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}
.sbbtable th {
    font-size: 1.17em;
}
tr.spaceUnder>td {
    padding-bottom: 20px;
}
.hour,
.minute {
    font-family: 'Montserrat', bold;
    font-size: 60px;
}
.second {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
#clock {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#date {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#time {
    text-align: center;
}
.dayweather {
    display: inline-block;
    width: 160px;
    height: 300px;
    margin-right: 30px;
    margin-left: 35px;
    margin-top: 25px;
    text-align: center;
}
.daytitle {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.weatherimage {
    margin-top: 30px;
}
.weathericon {
    width: 100px;
}
.weatherdesc {
    font-size: 20px;
    margin-top: 10px;
}
.weathertemp {
    margin-top: 20px;
}
.temphigh {
    font-size: 20px;
    font-weight: bold;
}
.templow {
    margin-left: 10px;
    font-size: 15px;
}
.weathernieder {
    margin-top: 5px;
}
.weatherwind {
    margin-top: 5px;
}
.weatherluft {
    margin-top: 5px;
}
.wert {
    font-weight: bold;
}
.wetterdetail {
    font-size: 17px;
}
#timer {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    border: 2px solid #B3B2B2;
    border-color: rgba(0, 0, 0, .3);
    padding: 16px;
}
#timer_0 {
    font-size: 20px;
}
.btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    padding: 7px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    color: #ffffff;
    background-color: #34495e;
    margin-left: 10px;
    margin-right: 10px;
}
.btn:hover {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #cacfd2;
}
input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 10px;
    border: none;
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
}
.timerset {
    font-size: 15px;
}
#tools {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center
}